@import url("https://fonts.googleapis.com/css2?family=Pushster&display=swap");

* {
  margin: 0;
  padding: 0;
}
body {
  width: 90vw;
  height: 80vh;
  padding: 5%;
}
textarea {
  height: 100px;
  width: 30%;
  margin: 0 auto;
  resize: none;
  border: 2px solid brown;
  font-size: 18px;
  padding: 10px 10px;
}
#input {
  margin-bottom: 2%;
}
#task {
  padding: 15px;
}
#submit-btn {
  padding: 2px;
}

.taskdata {
  color: red;
  margin: 5px 5px 7px 0;
  font-size: 18px;
}
#head {
  font-family: "Pushster", cursive;
}

.Done-btn {
  margin-right: 7px;
  padding: 2px;
}
.Cancel-btn {
  padding: 2px;
}
.taskbox {
  border: 1px solid lightblue;
  margin: 5px;
  padding: 10px;
}

.newtaskdata-style {
  margin: 5px 5px 7px 0;
  font-size: 18px;
  color: lightgreen;
  text-decoration: line-through;
}
#logo {
  height: 36px;
  width: 34px;
  margin: 0 0 -2.7% 7.1%;
}
