* {
  margin: 0;
  padding: 0;
}
body {
  width: 90vw;
  height: 80vh;
  padding: 5%;
}
textarea {
  height: 100px;
  width: 30%;
  margin: 0 auto;
  resize: none;
  border: 2px solid brown;
  font-size: 18px;
  padding: 5px 10px;
}
#input {
  margin-bottom: 2%;
}

